@charset "UTF-8";

/*CONFIGURAÇÃO TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #24849D, #24849D, #063349);
    }

    #acesso{
        width: 80vw;
    }
    
    #acesso > #imagem{
        float: left;
        width: 60%;
        height: 100%;
    }

    #acesso > #forms{
        float: right;
        width: 40%;
    }

    #forms{
        margin-top: 150px;
        margin-bottom: 150px;
    }

    #forms > h1{
        text-align: center;
    }

}

/*CONFIGURAÇÃO DESKTOP*/

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #24849D, #24849D, #063349);
    }

    #forms{
        margin-top: 280px;
        margin-bottom: 250px;
    }

    #acesso{
        width: 85%;
        height: 80%;
    }

    #acesso > #imagem{
        float: left;
        width: 70%;
        height: 100%;

    }

    #acesso > #forms{
        float: right;
        width: 30%;
    }

    #forms > h1{
        text-align: center;
        margin-bottom: 5px;
    }

    #forms > p{
        font-size: 1em;
        text-align: center;
    }


}