@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background: #005C8B;
    height: 100vh;
    width: 100vw;   
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#acesso{
    width: 300px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);

    transition: width .8s, height .8s;
    transition-timing-function: ease;
}

#acesso > #imagem{
    background: #005C8B url(../imagens/fundo.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    display: block;
}

#acesso > #forms{
    display: block;
    padding-top: 20px;
    padding-left: 12px;

}

#forms > h1{
    text-align: center;
    margin-bottom: 5px;
}

#forms > p{
    font-size: .9em;
    text-align: center;
    padding-bottom: 15px;
}

#campo > input[type=submit]{
    display: block;
    font-size: 1em;

    width: 80%;
    height: 40px;

    background-color:  #006CA1;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    margin: auto;
}

#campo > input[type=submit]:hover{
    background-color: #004D74;
    transition: 0.9s;
}